<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPage</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h1>Yangiliklar sahifasi</h1>
    <p>
        Hello, and welcome!

My name is Benoit. I have been a software engineer for the past eight and a half years. I stayed at my previous (and first) company for seven and a half years, then I joined a new one in early 2022.

This article comes from a recent self-reflection on the things I wish I had started doing earlier in my career and the things I wish I had done differently.

What I am sharing here may be useful to any junior to mid-level developer who wishes to improve and progress toward the title of senior and beyond.
    </p>
    {% endblock content %}

</body>
</html>